<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Main -->
<div class="container mt-5">

  <!-- Encabezado -->
  <div class="px-4 py-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Calculadora de Compras</h1>
  </div>

  <!-- Formulario de Compra -->
  <form [formGroup]="compraForm" (ngSubmit)="onSubmit()" class="mb-4" id="compraForm">
    <div class="mb-3">
      <label for="producto" class="form-label">Producto:</label>
      <input formControlName="producto" type="text" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad:</label>
      <input formControlName="cantidad" type="number" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="precio" class="form-label">Precio por unidad:</label>
      <input formControlName="precio" type="number" step="0.01" class="form-control" required>
    </div>

    <div class="text-center mb-3">
      <button type="submit" class="btn btn-primary">Agregar a la compra</button>
      <a href="" class="btn btn-danger">Limpiar Tabla</a>
    </div>
  </form>

  <!-- Detalles de la Compra -->
  <div class="px-4 py-5 text-center">
    <h2 class="display-5 fw-bold text-body-emphasis">Detalles de la Compra</h2>
  </div>

  <div class="container">

    <!-- Campo de búsqueda -->
    <div class="mb-3">
      <input type="text" id="searchInput" class="form-control" placeholder="Buscar Producto" [(ngModel)]="searchTerm">
    </div>

    <div class="table-responsive">

      <!-- Tabla de registros -->
      <table class="table table-striped">
        <thead class="table-dark text-center table-header">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio/unidad</th>
            <th scope="col">Subtotal</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>

          @for (compra of compras | filter: searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: compras.length } ; track $index) {
          <tr>
            <td class="margencolum" scope="row">{{ compra.id }}</td>
            <td class="margencolum">{{ compra.producto }}</td>
            <td class="margencolum">{{ compra.cantidad }}</td>
            <td class="margencolum">{{ compra.precio }}</td>
            <td class="margencolum">{{ compra.subtotal }}</td>
            <td class="margencolum" scope="row" class="d-flex justify-content-center"
              style="gap: 1rem; padding: 1.5rem 0.5rem;">
              <button (click)="deleteCompra(compra.id)" class="btn btn-danger"><i
                  class="bi bi-trash3-fill"></i></button>
            </td>
          </tr>
          }@empty {
          <!-- TODO: -->
          <div class="alert alert-warning text-center ">No hay registros</div>
          }


        </tbody>
      </table>

      <!-- Paginación de ngx-pagination -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>

  </div>

  <h5>Total Acumulado: $ </h5>

</div>

<!-- Footer -->
<app-footer></app-footer>

<router-outlet></router-outlet>